// Fonts

$font_primary: "Alata", sans-serif;
$font_secondary: " Josefin Sans", sans-serif;

// colors

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray_100: hsl(0, 0%, 55%);
$gray_200: hsl(0, 0%, 41%);
