// Base

body {
  font-family: $font_primary;
  background-color: $white;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-inline: 0;
}

a {
  text-decoration: none;
  color: $white;
}

img {
  width: 100%;
  max-height: auto;
  display: block;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

p {
  font-family: $font_primary;
  font-weight: 400;
  color: $gray_100;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: $font_secondary;
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
  font-size: 40px;
  color: $gray_200;
}
