.btn {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: $font_secondary;
}

.btn-primary {
  padding-block: 20px;
  padding-inline: 65px;
  border-width: 2px;
  border-style: solid;
  letter-spacing: 2px;
  transition: background-color 0.4s ease;

  &.is-grey {
    color: $gray_200;
    border-color: $gray_200;
  }

  &.is-black {
    color: $black;
    border-color: $black;
  }

  &:hover {
    color: #fff;

    &.is-grey {
      background-color: $gray_200;
    }

    &.is-black {
      background-color: $black;
    }
  }
}
